{% extends 'admin/home.html.twig' %}

{% block title %}Users admin
{% endblock %}

{% block body %}

	<h2>Users admin</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Avatar</th>
				<th>Full Name</th>
				<th>Email address</th>
				<th>Verified ?</th>
				<th>Roles</th>
				<th>Messages</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>
						{{ user | avatar(50) }}
					</td>
					<td>{{ user.fullname }}</td>
					<td>{{ user.email }}</td>
					<td>
						<span class="badge rounded-pill bg-{{ (user.isVerified == 1) ? 'success' : 'warning' }}">
							{{ (user.isVerified == 1) ? 'YES' : 'NO' }}
						</span>
					</td>
					<td>{{ user.roles | join(', ') }}</td>
					<td>{{ user.messages | length }}
						<i class="far fa-comments"></i>
					</td>
					<td>
						<div class="d-flex align-items-start">
							{{ include('user/form/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
