<div class="col position-relative pic" id="picForm-{{ pictureForm.vars.id }}">
	<div class="ratio ratio-4x3 mt-3" style="background: #DDD url({{ asset('uploads/pictures/' ~ pictureForm.vars.data.filename) }}) no-repeat center center; background-size:cover;" title="{{ pictureForm.vars.data.title | capitalize }}" data-bs-toggle="tooltip" data-bs-placement="top">

		<div class="text-end pt-1 pe-1">
			<button type="button" class="btn btn-primary" title="Edit the picture '{{ pictureForm.vars.data.title | capitalize }}'" data-bs-toggle="modal" data-bs-target="#modalEdit-picture{{ pictureForm.vars.id }}">
				<i class="fas fa-pencil-alt"></i>
			</button>

			<button type="button" class="btn btn-danger" title="Delete the picture '{{ pictureForm.vars.data.title | capitalize }}'" data-bs-toggle="modal" data-bs-target="#modalDelete-picture{{ pictureForm.vars.id }}">
				<i class="fas fa-trash-alt"></i>
			</button>

		</div>

	</div>

	<div class="modal fade" id="modalDelete-picture{{ pictureForm.vars.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalConfirmLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Delete picture #{{ pictureForm.vars.data.id }}</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					Are your sure you want to permanently delete this picture?<br>
					<span class="badge badge-sm bg-warning">Warning !</span>
					This action will also delete the picture file on the server.
				</div>
				<div class="modal-footer">
					<small>
						<i class="fas fa-exclamation-circle text-warning"></i>
						<i>Note that picture will not be removed until you save the trick</i>
					</small><br>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button class="removeItem btn btn-danger" data-bs-dismiss="modal" data-remove-item="picForm-{{ pictureForm.vars.id }}">
						<i class="fas fa-trash-alt"></i>
						Delete</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modalEdit-picture{{ pictureForm.vars.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalConfirmLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit picture #{{ pictureForm.vars.data.id }}</h5>
				</div>
				<div class="modal-body">
					<input form="trick" type="hidden" id="{{ pictureForm.trick.vars.id }}" name="{{ pictureForm.trick.vars.full_name }}" value="{{ pictureForm.trick.vars.value }}">
					{% do pictureForm.trick.setRendered() %}
					{{ form_row(pictureForm.title, {'attr': {'form': 'trick', 'class': 'mb-3 mt-1'}}) }}
					{{ form_row(pictureForm.description, {'attr': {'form': 'trick', 'class': 'mb-3 mt-1'}}) }}
					{{ form_row(pictureForm.filename, {'attr': {'form': 'trick', 'class': 'mb-3 mt-1'}}) }}
				</div>
				<div class="modal-footer">
					<small>
						<i class="fas fa-exclamation-circle text-warning"></i>
						<i>Note that changes are not saved until you save the trick</i>
					</small>
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">
						Confirm changes</button>
				</div>
			</div>
		</div>
	</div>

</div>
