{% extends 'base.html.twig' %}

{% block title %}Messages admin
{% endblock %}

{% block body %}
	<h1>Messages admin</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Trick</th>
				<th>Author</th>
				<th>Message</th>
				<th>CreatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for message in messages %}
				<tr>
					<td>{{ message.id }}</td>
					<td>{{ message.trick.id }}</td>
					<td>{{ message.author.fullname }}</td>
					<td>{{ message.content }}</td>
					<td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<div class="d-flex align-items-start">
							<div class="mt-1 me-1">
								<a class="btn btn-sm btn-primary" href="{{ path('trick_show', {'slug': message.trick.slug, 'group_slug': message.trick.trickGroup.slug}) }}#messages">
									<i class="fas fa-eye"></i>
								</a>
							</div>
							{{ include('message/form/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no message found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
