{% extends "base.html.twig" %}

{% block title %}Home -
	{{ parent() }}
{% endblock %}

{% block topbanner %}
	<div style="background: url({{ asset('img/yann-allegre-8FG9tt8qZ-8-unsplash.jpg') }}) 70% 70% no-repeat;background-size:cover;height:calc(100vh - 6.4rem);" class="d-flex align-items-center">
		<p style="text-shadow: #FFF 2px 0 10px;" class="text-center h3 w-100">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p class="position-absolute" style="bottom:2.6rem;right:1rem;">
			<a href="#main-content" id="main-content">
				<i class="fas fa-arrow-circle-down fa-3x"></i>
			</a>
			<a id="top_link" href="#main-content" class="fixed-bottom" style="bottom: 3.5rem; right: 1rem; left: auto;display:none;">
				<i class="fas fa-arrow-circle-up fa-3x"></i>
			</a>
		</p>
	</div>
{% endblock %}
{% block body %}
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-between">
		{{ render(path('trick_page_with_limit', {page: 1, limit: 15})) }}
		<span class="text-center w-100">
			<a href="#" class="btn btn-light mx-auto w-75" id="loadmore">
				<i class="fas fa-spinner"></i>
				Load more tricks</a>
		</span>
	</div>
	{% if app.user %}
		<a class="btn btn-outline-primary btn-sm rounded-pill" href="{{ path('trick_new') }}">
			<i class="fa fa-plus"></i>
			Add a new trick
		</a>
	{% endif %}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ include('shared/_loadmore.html.twig') }}
{% endblock %}
