{% extends "base.html.twig" %}

{% block title %}Home -
	{{ parent() }}
{% endblock %}

{% block topbanner %}
	<div style="background: url({{ asset('img/yann-allegre-8FG9tt8qZ-8-unsplash.jpg') }}) 70% 70% no-repeat;background-size:cover;height:calc(100vh - 6.4rem);" class="d-flex align-items-center">
		<p style="text-shadow: #FFF 2px 0 10px;" class="text-center h3 w-100">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p class="position-absolute" style="bottom:2.6rem;right:1rem;">
			<a href="#main-content" id="main-content">
				<i class="fas fa-arrow-circle-down fa-3x"></i>
			</a>
			<a id="top_link" href="#main-content" class="fixed-bottom" style="bottom: 3.5rem; right: 1rem; left: auto;display:none;">
				<i class="fas fa-arrow-circle-up fa-3x"></i>
			</a>
		</p>
	</div>
{% endblock %}
{% block body %}

	<div class="row justify-content-between">
		{{ render(path('trick_page_with_limit', {page: 1, limit: 12})) }}
		<a href="#" class="btn btn-light col-12" id="loadmore">
			<i class="fas fa-spinner"></i>
			Load more tricks</a>
	</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ include('shared/_loadmore.html.twig') }}
{% endblock %}
