<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top p-1">
	<a class="navbar-brand py-0" href="{{ path('homepage') }}"><img src="{{ asset('img/SnowTricks_logo.png') }}" alt="SnowTricks logo" style="height:3.8rem;"></a>
	{% if is_granted('ROLE_ADMIN') %}
		<div class="text-start flex-grow-1">
			<a href="{{ path('admin_home') }}" class="btn btn-info btn-sm">
				<i class="fas fa-cog"></i>
				Admin</a>
		</div>
	{% endif %}
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="mainNavbar">
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a class="nav-link active" href="{{ path('homepage') }}">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<div class="d-flex">
					<a class="nav-link" href="{{ path('homepage') }}#main-content">Tricks</a>
					{% if app.user %}
						<a class="nav-link ms-2 ms-lg-0" href="{{ path('trick_new') }}">
							<span class="badge rounded-pill bg-secondary py-1 px-2">
								<i class="fa fa-plus"></i>
								Add
							</span>
						</a>
					{% endif %}
				</div>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('security_logout') }}">Logout</a>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('security_login') }}">Sign in</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_register') }}">Sign up</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
