<div class="trick-card col d-flex align-items-stretch">
	<div class="card mb-4">
		<a href="{{ path('trick_show', {'group_slug': trick.trickGroup.slug, 'slug': trick.slug}) }}"><img src="{{ asset('img/visit-almaty-wN4D-mVR7fE-unsplash.jpg') }}" class="img-fluid" alt="Image de {{ trick.name }}"></a>
		<div class="card-body p-0 d-flex flex-column justify-content-between">
			<div class="d-flex align-items-start">
				<h2 class="card-title h5 flex-grow-1 p-2 mb-1">
					<a href="{{ path('trick_show', {'group_slug': trick.trickGroup.slug, 'slug': trick.slug}) }}" title="{{ trick.name }}">{{ trick.name }}</a>
				</h2>
				{% if app.user %}
					<a class="btn btn-primary me-1 mt-1" href="{{ path('trick_edit', {'id': trick.id}) }}" title="Edit the trick {{ trick.name }}">
						<i class="fas fa-pencil-alt"></i>
					</a>
					{{ include('trick/form/_delete_form.html.twig') }}
				{% endif %}
			</div>
			<div class="card-footer d-flex align-items-end justify-content-between px-2 py-0">
				<p class="badge bg-info rounded-pill mb-1 text-wrap">
					{{ trick.trickGroup.name }}
				</p>
				<p class="mb-1 text-nowrap">
					{{ trick.messages | length }}
					<i class="far fa-comments"></i>
				</p>
			</div>
		</div>
	</div>
</div>
