<div class="trick-card col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
	<div class="card mb-4">
		<a href="{{ path('trick_show', {'group_slug': trick.trickGroup.slug, 'slug': trick.slug}) }}"><img src="{{ asset('img/visit-almaty-wN4D-mVR7fE-unsplash.jpg') }}" class="img-fluid" alt="Image de {{ trick.name }}"></a>
		<div class="card-body p-0">
			<div class="d-flex align-items-start">
				<h4 class="card-title flex-grow-1 p-2">
					<a href="{{ path('trick_show', {'group_slug': trick.trickGroup.slug, 'slug': trick.slug}) }}">{{ trick.name }}</a>
				</h4>
				<a class="btn btn-primary mr-1 mt-1" href="{{ path('trick_edit', {'id': trick.id}) }}" title="Edit this trick">
					<i class="fas fa-pencil-alt"></i>
				</a>
				{{ include('trick/_delete_form.html.twig') }}
			</div>
			<span class="badge badge-info badge-pill">
				{{ trick.trickGroup.name }}
			</span>
		</div>
	</div>
</div>
