<div class="position-relative">
	<div style="height:25rem; max-height: 50vw;">
		<div class="position-absolute w-100 h-100" style="background: url({{ asset('img/victor-rodvang-kIavtjR0sZY-unsplash.jpg') }}) no-repeat center center; background-size: cover; opacity: .6; z-index:-1000;"></div>
		<div class="d-flex align-items-start">
			{{ include('trick/_back_to_list.html.twig') }}
			<span class="flex-grow-1"></span>
		</div>
	</div>
	<h1 class="h2 position-absolute top-50 start-50 translate-middle text-center w-100 p-2" style="text-shadow: #FFF 2px 0 10px;max-width: 25rem;">
		<small>{{ form_errors(form.name) }}</small>
		<div class="input-group flex-nowrap">
			<span class="input-group-text">Name</span>
			{{ form_widget(form.name, {'attr': {'form': 'trick'}}) }}
		</div>
	</h1>
</div>


<section id="pictures" class="mx-auto my-3">

	<h2 class="h4">
		<i class="fas fa-photo-video"></i>
		{{ trick.pictures | length }}
		image{{ (trick.pictures | length) > 1 ? 's' : '' }}
		{# &amp; {{ trick.videos | length }} video{{ (trick.videos | length) > 1 ? 's' : '' }} #}
	</h2>


	{% if trick.pictures | length <= 0 %}

		<p class="mx-2 my-3">There is no picture to this trick.</p>

	{% endif %}

	{% for pictureForm in form.pictures %}
		{% set hasError = false %}
		{% for field in pictureForm.children %}
			{% if field.vars.errors|length %}
				{% set hasError = true %}
			{% endif %}
		{% endfor %}
		{% if hasError %}
			<div class="alert alert-dismissible alert-danger">
				<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				<strong>Error on the picture
					{{ pictureForm.vars.id }}</strong>
				You must fix it and reupload all new picture files to be able to save the trick.
			</div>
		{% endif %}
	{% endfor %}

	<div class="d-md-none text-center">
		<button class="btn btn-info collapse show" id="showBtn" type="button" data-bs-toggle="collapse" data-bs-target="#medias, #hideBtn, #showBtn" aria-expanded="false" aria-controls="medias" style="transition-delay: -1s">Show media</button>
		<button class="btn btn-info collapse" id="hideBtn" type="button" data-bs-toggle="collapse" data-bs-target="#medias, #hideBtn, #showBtn" aria-expanded="false" aria-controls="medias" style="transition-delay: -1s">Hide media</button>
	</div>

	<div class="d-md-block collapse" id="medias">

		{% set picturesPrototype %}

		<div class="w-100 h-0 mt-3" style="max-width:100%; padding-top:70%; background: #DDD" title="Add a picture">

			<div class="position-absolute mt-3 me-2 pt-1 pe-2" style="top: 0; right:0;">

				<button type="button" class="btn btn-primary" title="Add a new picture" data-bs-toggle="modal" data-bs-target="#modalEdit-picture-new__name__">
					<i class="fas fa-pencil-alt"></i>
					Edit your new picture
				</button>
			</div>

		</div>

		<div class="modal fade" id="modalEdit-picture-new__name__" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalConfirmLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add a new picture</h5>
					</div>
					<div class="modal-body">

						<input form="trick" type="hidden" id="{{ form.pictures.vars.prototype.trick.vars.id }}" name="{{ form.pictures.vars.prototype.trick.vars.full_name }}" value="{{ trick.id }}">
						{% do form.pictures.vars.prototype.trick.setRendered() %}
						{{ form_row(form.pictures.vars.prototype.title, {'attr': {'form': 'trick', 'class': 'mb-3 mt-1'}}) }}
						{{ form_row(form.pictures.vars.prototype.description, {'attr': {'form': 'trick', 'class': 'mb-3 mt-1'}}) }}
						{{ form_row(form.pictures.vars.prototype.filename, {'attr': {'form': 'trick', 'class': 'mb-3 mt-1'}}) }}

					</div>
					<div class="modal-footer">
						<small>
							<i class="fas fa-exclamation-circle text-warning"></i>
							<i>Note that the new picture is not saved until you save the trick</i>
						</small>
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal">
							Add picture</button>
					</div>
				</div>
			</div>
		</div>

		{% endset %}

		<button type="button" class="add_item_link btn btn-outline-primary btn-sm rounded-pill" data-collection-holder-class="pictures">
			<i class="fa fa-plus"></i>
			Add a picture
			<i class="far fa-image"></i>
		</button>

		<div class="pictures row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-start" data-prototype="{{ picturesPrototype|e('html_attr') }}">

			{% for pictureForm in form.pictures %}

				<div class="col position-relative">
					<div class="w-100 h-0 mt-3" style="max-width:100%; padding-top:70%; background: #DDD url({{ asset('uploads/pictures/' ~ pictureForm.vars.data.filename) }}) no-repeat center center; background-size:cover;" title="{{ pictureForm.vars.data.title | capitalize }}">

						<div class="position-absolute mt-3 me-2 pt-1 pe-2" style="top: 0; right:0;">
							<button type="button" class="btn btn-primary" title="Edit the picture '{{ pictureForm.vars.data.title | capitalize }}'" data-bs-toggle="modal" data-bs-target="#modalEdit-picture{{ pictureForm.vars.id }}">
								<i class="fas fa-pencil-alt"></i>
							</button>

							<button type="button" class="btn btn-danger" title="Delete the picture '{{ pictureForm.vars.data.title | capitalize }}'" data-bs-toggle="" data-bs-target="">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>

					</div>

					<div class="modal fade" id="modalEdit-picture{{ pictureForm.vars.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalConfirmLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Edit picture #{{ pictureForm.vars.data.id }}</h5>
								</div>
								<div class="modal-body">
									<input form="trick" type="hidden" id="{{ pictureForm.trick.vars.id }}" name="{{ pictureForm.trick.vars.full_name }}" value="{{ pictureForm.trick.vars.value }}">
									{% do pictureForm.trick.setRendered() %}
									{{ form_row(pictureForm.title, {'attr': {'form': 'trick', 'class': 'mb-3 mt-1'}}) }}
									{{ form_row(pictureForm.description, {'attr': {'form': 'trick', 'class': 'mb-3 mt-1'}}) }}
									{{ form_row(pictureForm.filename, {'attr': {'form': 'trick', 'class': 'mb-3 mt-1'}}) }}
								</div>
								<div class="modal-footer">
									<small>
										<i class="fas fa-exclamation-circle text-warning"></i>
										<i>Note that changes are not saved until you save the trick</i>
									</small>
									<button type="button" class="btn btn-primary" data-bs-dismiss="modal">
										Confirm changes</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			{% endfor %}

		</div>
	</div>
	{# {% endif %} #}
	{# <button type="button" class="add_item_link" data-collection-holder-class="pictures">Add a picture</button> #}
</section>


<div class="m-3">
	{{ form_errors(form.description) }}
	<span class="input-group-text border-bottom-0 w-100">Description</span>
	{{ form_widget(form.description, {'attr': {'form': 'trick', 'rows': 10, 'class': 'w-100'}}) }}</div>
<div class="d-flex justify-content-center flex-column flex-md-row">
	<div class="badge bg-info col-12 col-md-4 col-lg-3 my-2 mx-0 mx-lg-2">
		<div class="input-group input-group-sm flex-nowrap my-1">
			<span class="input-group-text">
				<i class="far fa-check-circle"></i>
				Group</span>
			{{ form_widget(form.trickGroup, {'attr': {'form': 'trick'}}) }}
		</div>
	</div>
	<div class="badge bg-primary col-12 col-md-4 col-lg-3 my-2 mx-0 mx-lg-2">
		<span class="h6">
			<i class="far fa-clock"></i>
			Creation:<br>
			{{ trick.createdAt ? trick.createdAt|date('F j, Y \\a\\t H:i') : "now"|date('F j, Y \\a\\t H:i') }}</span>
	</div>
	{% if trick.updatedAt != trick.createdAt %}
		<div class="badge bg-secondary col-12 col-md-4 col-lg-3 my-2 mx-0 mx-lg-2">
			<span class="h6">
				<i class="far fa-clock"></i>
				Last update:<br>
				{{ trick.updatedAt ? trick.updatedAt|date('F j, Y \\a\\t H:i') : '' }}</span>
		</div>
	{% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	jQuery(document).ready(function () { // Get the ul that holds the collection of tags
var $picturesCollectionHolder = $('div.pictures');
// count the current form inputs we have (e.g. 2), use that as the new
// index when inserting a new item (e.g. 2)
$picturesCollectionHolder.data('index', $picturesCollectionHolder.find('div.col.position-relative').length);

$('body').on('click', '.add_item_link', function (e) {
var $collectionHolderClass = $(e.currentTarget).data('collectionHolderClass');
// add a new tag form (see next code block)
addFormToCollection($collectionHolderClass);
})
});

function addFormToCollection($collectionHolderClass) { // Get the ul that holds the collection of tags
var $collectionHolder = $('.' + $collectionHolderClass);

// Get the data-prototype explained earlier
var prototype = $collectionHolder.data('prototype');

// get the new index
var index = $collectionHolder.data('index');

var newForm = prototype;
// You need this only if you didn't set 'label' => false in your tags field in TaskType
// Replace '__name__label__' in the prototype's HTML to
// instead be a number based on how many items we have
// newForm = newForm.replace(/__name__label__/g, index);

// Replace '__name__' in the prototype's HTML to
// instead be a number based on how many items we have
newForm = newForm.replace(/__name__/g, index);

// increase the index with one for the next item
$collectionHolder.data('index', index + 1);

// Display the form in the page in an li, before the "Add a tag" link li
var $newFormLi = $('<div class="col position-relative"></div>').append(newForm);
// Add the new form at the end of the list
$collectionHolder.append($newFormLi)
}
</script>
