<section id="pictures" class="mx-auto my-3">

	<h2 class="h4">
		<i class="fas fa-photo-video"></i>
		{{ trick.pictures | length }}
		image{{ (trick.pictures | length) > 1 ? 's' : '' }}
		{# &amp; {{ trick.videos | length }} video{{ (trick.videos | length) > 1 ? 's' : '' }} #}
	</h2>

	{% if trick.pictures | length <= 0 %}

		<p class="mx-2 my-3">There is no picture to this trick.</p>

	{% else %}

		<div class="d-md-none text-center">
			<button class="btn btn-info collapse show" id="showBtn" type="button" data-bs-toggle="collapse" data-bs-target="#medias, #hideBtn, #showBtn" aria-expanded="false" aria-controls="medias" style="transition-delay: -1s">Show media</button>
			<button class="btn btn-info collapse" id="hideBtn" type="button" data-bs-toggle="collapse" data-bs-target="#medias, #hideBtn, #showBtn" aria-expanded="false" aria-controls="medias" style="transition-delay: -1s">Hide media</button>
		</div>

		<div class="d-md-block collapse" id="medias">

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-start">

				{% for picture in trick.pictures %}
					<div class="col position-relative">
						<div class="w-100 h-0 btn mt-3" style="max-width:100%; padding-top:70%; background: transparent url({{ asset('uploads/pictures/' ~ picture.filename) }}) no-repeat center center; background-size:cover;" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ picture.title | capitalize }}"></div>
					</div>
				{% endfor %}

			</div>

		</div>
	{% endif %}
</section>
<script>
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
return new bootstrap.Tooltip(tooltipTriggerEl)
});
</script>
