{% extends 'base.html.twig' %}

{% block title %}Trick
	{{ trick.name }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	<div>
		<div class="position-relative">
			<div style="height:25rem; max-height: 50vw;">
				<div class="position-absolute w-100 h-100" style="background: url({{ asset('img/victor-rodvang-kIavtjR0sZY-unsplash.jpg') }}) no-repeat center center; background-size: cover; opacity: .6; z-index:-1000;"></div>
				<div class="d-flex align-items-start">
					{{ include('trick/_back_to_list.html.twig') }}
					<span class="flex-grow-1"></span>
					<a class="btn btn-primary mr-1 mt-1" href="{{ path('trick_edit', {'id': trick.id}) }}" title="Edit the trick {{ trick.name }}">
						<i class="fas fa-pencil-alt"></i>
					</a>
					{{ include('trick/_delete_form.html.twig') }}
				</div>
			</div>
			<h1 class="h2 position-absolute text-center w-100 p-2" style="transform: translate(-50%, -50%);top: 50%;left: 50%; text-shadow: #FFF 2px 0 10px;">
				{{ trick.name }}
			</h1>
		</div>
		<div class="m-3">
			{{ trick.description | nl2br }}
		</div>
		<div class="d-flex justify-content-center flex-column flex-md-row">
			<div class="badge badge-info col-12 col-md-4 col-lg-3 my-2 mx-0 mx-lg-2">
				<span class="h6">
					<i class="far fa-check-circle"></i>
					Trick group:<br>
					{{ trick.trickGroup.name }}</span>
			</div>
			<div class="badge badge-primary col-12 col-md-4 col-lg-3 my-2 mx-0 mx-lg-2">
				<span class="h6">
					<i class="far fa-clock"></i>
					Creation:<br>
					{{ trick.createdAt ? trick.createdAt|date('F j, Y \\a\\t H:i') : '' }}</span>
			</div>
			{% if trick.updatedAt != trick.createdAt %}
				<div class="badge badge-secondary col-12 col-md-4 col-lg-3 my-2 mx-0 mx-lg-2">
					<span class="h6">
						<i class="far fa-clock"></i>
						Last update:<br>
						{{ trick.updatedAt ? trick.updatedAt|date('F j, Y \\a\\t H:i') : '' }}</span>
				</div>
			{% endif %}
		</div>
	</div>


{% endblock %}
