{% extends 'base.html.twig' %}

{% block title %}Users admin
{% endblock %}

{% block body %}
	<h1>Users admin</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Avatar</th>
				<th>Full Name</th>
				<th>Email address</th>
				<th>Verified ?</th>
				<th>Roles</th>
				<th>Messages</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>
						<img src="{{ user.avatar }}?s=50" alt="{{ user.fullname }}">
					</td>
					<td>{{ user.fullname }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.isVerified }}</td>
					<td>{{ user.roles | join(', ') }}</td>
					<td>{{ user.messages | length }}
						<i class="far fa-comments"></i>
					</td>
					<td>
						<div class="d-flex align-items-start">
							{{ include('user/_delete_form.html.twig') }}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
